

.container-fluid-one {

    margin: 50px;
    text-align: center;

}

.container-fluid-two {

    margin: 50px;
    text-align: center;
    margin-top: 75px;
    padding: 75px;
}

.container-fluid-three {

    margin: 50px;
    text-align: center;
    margin-top: 50px;
    padding: 50px;
}


.container-fluid-four {

    margin: 50px;
    text-align: center;
    margin-top: 50px;
    padding: 50px;
}

.googlemaps {
    margin: 25px;
    text-align: center;
    margin-top: 25px;
    padding: 25px;
}

.form {
    
    text-align: center;
    margin: 50px;
    margin-top: 25px;
    padding: 15px;;
    
}



.container .card {


    width: 200px;
    height: 200px;
}

footer {
    
    margin-top: 200px;
    padding: 75px;
    
}

body {

    background-image: url("../images/NFL2.jpg"), linear-gradient(to bottom, #b2bec3 0%, #2d3436 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: hard-light;
    background-size: cover;
    background-position: center;
    font-family: 'Averia Serif Libre';
}


.lead {

    border-style: solid;
}

.navbarcontainer {

max-height: 5vh;
height: 5vh;

}

.submit {

    padding: 25px;
    margin-top: 25px;
    border-radius: 5px;
    border: 0;
    
}

h2 {

    text-align: center;
}
