.jumbotron-fluid {

    
        background-image: url("../images/crimeScene.jpg");
        padding-top: 150px;
        padding-bottom: 75px;
        color: aliceblue;
        
     
}


.container {

padding-top: 50px;


}